.stack {
    img {
        border-radius: 2px;
        display: block;
        max-height: 80vh;
        max-width: 90vw;
        position: absolute;
        left: 50%;
        top: 50%;
        visibility: hidden;
    }

    @for $i from 1 to 228 {
        &[data-current="#{$i}"] img:nth-of-type(#{$i}){
            visibility: visible;
        }

        img:nth-of-type(#{$i}) {
            $offsetX: (random(1) * 2px);
            transform: translateX(calc(-50% + #{$offsetX})) translateY(-50%);
        }
    }

}