.stack {
    img {
        display: block;
        width: 100%;
        max-height: 80vh;
        max-width: 70vw;
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
    }

    @for $i from 1 to 20 {
        &[data-current="#{$i}"] img:nth-of-type(#{$i}){
            opacity: 1;
        }

        img:nth-of-type(#{$i}) {
            $offsetY: ($i * 1px);
            $offsetX: (random(1) * 1px);
            transform: translateX(calc(-50% + #{$offsetX})) translateY(calc(-50% - #{$offsetY}));
        }
    }

}