* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
.site-title {
    color: white;
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
}


.debug {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 20px;
    align-items: flex-end;
    padding: .5em;
    width: 100%;
    span {
        display: block;
    }
    canvas {
        border: 1px solid gray;
        image-rendering: pixelated;
    }
    h2 {
        font-size: 12px;
        letter-spacing: .02em;
        margin-bottom: .5em;
        text-transform: uppercase;
        font-weight: normal;
        font-family: sans-serif;
    }
}

.debug-data {
    font-family: sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}