---
layout: base
---

<ul class="debug">
    <li id="debug-current"></li>
    <li id="debug-speed"></li>
    <li id="debug-delay"></li>
</ul>

<div class="stack" data-current='1'>
    {% for i in (1..19) %}
    <img src="/assets/rave {{i}}.jpg" alt="">
    {% endfor %}
</div>