---
layout: base
---

<h1 class="site-title">Moving Fast</h1>

<aside class="debug">
    <h2>Speed (scroll to adjust)</h2>
    <canvas width='300px' height='100px' id="graph"></canvas>
    <div class="debug-data">
        <span id="debug-current"></span>
        <span id="debug-speed"></span>
        <span id="debug-delay"></span>
    </div>
</aside>

<div class="stack" data-current='1'>
    {% for i in (1..227) %}
    <img src="/assets/frames/Photo book{{i}}.jpg" alt="">
    {% endfor %}
</div>